@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'kindred';
  src: url('/fonts/TANKINDRED-Display.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-white text-brand-dark min-h-screen antialiased;
    margin: 0;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}
